@page
@model LoginModel
@using RentaCar.RealEstateManager.Database.Data.Entities

@{
    ViewData["Title"] = "Log in";
    ViewBag.HideSidebar = true;
}

@section Styles {
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- slider!!!!!!!!!!! -->
    <link rel="stylesheet" href="~/css/alones/libs.min.css" />

    <!-- Vrooom Design System Css!!!!!!!!!!!! -->
    <link rel="stylesheet" href="~/css/alones/vrooom.min.css?v=1.1.01" />

    <!-- Custom Css !!!!!!!!!!!-->
    <link rel="stylesheet" href="~/css/alones/custom.min.css?v=1.1.01" />
}

<div class="wrapper">
    <div class="main-auth-page">
        <a class="auth-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Logo.png" alt="" class="img-fluid" />
        </a>
        <div class="clip-board">
            <div class="container">
                <div class="row auth-details-card">
                    <div class="col-lg-12">
                        <div class="card iq-auth-card mb-0 row" style="border: none">
                            <!-- <img
                              src="../../assets/images/auth/01.webp"
                              alt="background"
                              class="img-fluid w-75 position-absolute"
                              style="top: 8%"
                            /> -->
                            <!-- <img
                              src="../../../images/form-car-image.png"
                              alt="background"
                              class="img-fluid w-75 position-absolute"
                              style="top: 8%"
                            /> -->
                            <img src="../../../images/form-car-image-nobackground.png"
                                 alt="background"
                                 class="img-fluid w-75 position-absolute"
                                 style="top: -12%" />
                            <div class="card-body col-5 offset-7">
                                <div class="auth-form">
                                    <h2 class="text-center mb-3">Sign In</h2>
                                    <form method="post">
                                        <p class="text-center">Sign in to stay connected.</p>
                                        <div class="row text-start mb-3">
                                            <div class="col-12 mb-3">
                                                <div class="form-floating">
                                                    <input asp-for="Input.Email"
                                                           type="email"
                                                           class="form-control"
                                                           id="input3"
                                                           placeholder="Email"
                                                           aria-required="true" />
                                                    <label asp-for="Input.Email">Email</label>
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="form-floating">
                                                    <input asp-for="Input.Password"
                                                           aria-required="true"
                                                           type="password"
                                                           class="form-control"
                                                           id="input5"
                                                           placeholder="Password" />
                                                    <label asp-for="Input.Password">Password</label>
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           id="Remember" asp-for="Input.RememberMe" />
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    <label class="form-check-label" asp-for="Input.RememberMe">Remember me?</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">
                                                Sign In
                                            </button>
                                        </div>
                                        <div class="text-center mt-3">
                                            <p>or sign in with others account?</p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <ul class="list-group list-group-horizontal list-group-flush">
                                                <li class="list-group-item bg-transparent border-0">
                                                    <a href="#">
                                                        <img src="~/images/brands/15.png"
                                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                                             alt="img60" />
                                                    </a>
                                                </li>
                                                <li class="list-group-item bg-transparent border-0">
                                                    <a href="#">
                                                        <img src="~/images/brands/08.png"
                                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                                             alt="gm" />
                                                    </a>
                                                </li>
                                                <li class="list-group-item bg-transparent border-0">
                                                    <a href="#">
                                                        <img src="~/images/brands/10.png"
                                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                                             alt="im" />
                                                    </a>
                                                </li>
                                                <li class="list-group-item bg-transparent border-0">
                                                    <a href="#">
                                                        <img src="~/images/brands/13.png"
                                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                                             alt="li" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3 text-center">
                                        <p>
                                            Don't have an account?
                                            <a asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-card auth-small">
        <div class="card">
            <div class="card-body">
                <div class="auth-form">
                    <h2 class="text-center mb-3">Sign In</h2>
                    <form method="post">
                        <p class="text-center">Sign in to stay connected.</p>
                        <div class="row text-start mb-3">
                            <div class="col-12 mb-3">
                                <div class="form-floating">
                                    <input asp-for="Input.Email"
                                           type="email"
                                           class="form-control"
                                           id="input3"
                                           placeholder="Email"
                                           aria-required="true" />
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-floating">
                                    <input asp-for="Input.Password"
                                           aria-required="true"
                                           type="password"
                                           class="form-control"
                                           id="input5"
                                           placeholder="Password" />
                                    <label asp-for="Input.Password">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="Remember" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    <label class="form-check-label" asp-for="Input.RememberMe">Remember me?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Sign In
                            </button>
                        </div>
                        <div class="text-center mt-3">
                            <p>or sign in with others account?</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="list-group-item bg-transparent border-0">
                                    <a href="#">
                                        <img src="~/images/brands/15.png"
                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                             alt="img60" />
                                    </a>
                                </li>
                                <li class="list-group-item bg-transparent border-0">
                                    <a href="#">
                                        <img src="~/images/brands/08.png"
                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                             alt="gm" />
                                    </a>
                                </li>
                                <li class="list-group-item bg-transparent border-0">
                                    <a href="#">
                                        <img src="~/images/brands/10.png"
                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                             alt="im" />
                                    </a>
                                </li>
                                <li class="list-group-item bg-transparent border-0">
                                    <a href="#">
                                        <img src="~/images/brands/13.png"
                                             class="img-fluid avatar avatar-30 avatar-rounded"
                                             alt="li" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="new-account mt-3 text-center">
                        <p>
                            Don't have an account?
                            <a asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}