.sort-filter {
  padding: 1em 2em;
  height: 25vh;
  background-color: rgb(233, 240, 246);
}

.sort-filter .form-select {
  width: 45%;
}

.sort-filter button {
  margin-top: 1em;

  color: white;
  letter-spacing: 1px;
  border: 3px solid rgb(40, 155, 255);
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: rgb(113, 186, 249);
  transition: background 0.3s, border 0.3s;
}

.sort-filter button:hover {
  color: rgb(40, 155, 255);
  box-shadow: 0 0 20px rgba(126, 194, 253, 0.549);
}
